/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.813rem;
}

.subtitle {
  font-size: 2.875rem;
  line-height: 3.563rem;
  font-weight: 700;
  color: #000;
}

p {
  font-size: 1.25rem;
  line-height: 1.563rem;
  font-weight: 400;
  color: rgb(17, 17, 17);
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 0.75rem;
  background: rgb(254, 163, 1);
}

/* =========Menu========== */
header {
  margin-top: 20px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(247, 247, 247);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  gap: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p {
  font-weight: 700;
  color: #000;
  font-size: 2rem;
  line-height: 1.875rem;
}

ul li a {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Quicksand", sans-serif;
}

.menu-home {
  font-weight: 700;
  color: rgb(254, 163, 1);
}

.menu-about {
  color: rgb(1, 172, 253);
}

.menu-facilities {
  color: rgb(5, 212, 223);
}

.menu-admission {
  color: rgb(93, 88, 239);
}
